* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    outline: 1px solid blue;
    height: 679px;
}
.image-center {
    background-image: url('../assets/img/sunny-day.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
.second-image {
    background-image: url('../assets/img/kitten-medium.png');
    background-position: bottom;
    background-repeat: no-repeat;
    height: 95%;
}

/* media queries */
@media screen and (min-width: 425px) and (max-width:768px) {
    .image-center {
        background-image: url('../assets/img/night.jpg');
    }
    .second-image {
        background-image: url('../assets/img/kitten-small.png');
    }
}
@media screen and (min-width: 1140px) {
    .image-center {
        background-image: url('../assets/img/dawn.png');
    }
    .second-image {
        background-image: url('../assets/img/kitten-large.png');
    }
}